name: HTMLHint Code Scanning

on:
  push:
  pull_request:
  workflow_dispatch:

permissions:
  actions: read
  contents: read
  security-events: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Set up Node.js
        uses: actions/setup-node@v6

      - name: Run HTMLHint
        run: npx htmlhint . --format sarif > htmlhint.sarif || true

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: ./htmlhint.sarif
          category: HTMLHint
        if: always()
