name: autofix.ci
on:
  workflow_dispatch:
  push:
    paths:
      - '**/*.js'
      - '**/*.html'
      - '!**/.github/**'

permissions:      
  contents: write

jobs:
  prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6

      - run: npm ci
      - run: npx prettier --write "**/*.{html,css,js,md}"
      
      - name: Install cspell
        run: npm install -g cspell
      - name: Spell check code files
        run: cspell "**/*.{html,css,js,md}" --no-progress
        continue-on-error: true

      - uses: autofix-ci/action@v1
        with:
          commit-message: "Apply Prettier format"
